@{
    ViewBag.Title = "Birthday | Inicio";
}
<div class="row">
    <div class="col-md-4">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-aqua-active">
                <a href="profile.html">
                    <div class="widget-user-image">
                        <img class="img-circle" src="~/Content/Estilos/dist/img/avatarvya.png" alt="User Avatar">
                    </div><!-- /.widget-user-image -->
                </a>
                <h3 class="widget-user-username">Victor Yucra</h3>
                <h5 class="widget-user-desc">Analista Funcional - SOPORTE AL NEGOCIO</h5>
            </div>
            <div class="box-footer no-padding">
                <ul class="nav nav-stacked">
                    <li><a href="profile.html"><i class="fa fa-comment margin-r-5"></i>Mensajes <span class="pull-right badge bg-blue">14</span></a></li>
                    <li><a href="#"><i class="fa fa-users margin-r-5"></i>Organizadores</a></li>
                    <li><a href="#"><i class="fa fa-street-view margin-r-5"></i>Jose Carrillo<span class="pull-right">SOPORTE TECNICO</span></a></li>
                    <li><a href="#"><i class="fa fa-street-view margin-r-5"></i>Julio Lino<span class="pull-right">DESARROLLO</span></a></li>
                </ul>
            </div>
        </div><!-- /.widget-user -->
    </div><!-- /.col -->
    <div class="col-md-4">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-aqua-active">
                <a href="profile.html">
                    <div class="widget-user-image">
                        <img class="img-circle" src="~/Content/Estilos/dist/img/per3-128x128.png" alt="User Avatar">
                    </div><!-- /.widget-user-image -->
                </a>
                <h3 class="widget-user-username">Julio Lino</h3>
                <h5 class="widget-user-desc">Analista Funcional - DESARROLLO</h5>
            </div>
            <div class="box-footer no-padding">
                <ul class="nav nav-stacked">
                    <li><a href="profile.html"><i class="fa fa-comment margin-r-5"></i>Mensajes <span class="pull-right badge bg-blue">1</span></a></li>
                    <li><a href="#"><i class="fa fa-users margin-r-5"></i>Organizadores</a></li>
                    <li><a href="#"><i class="fa fa-street-view margin-r-5"></i>Christian Cornelio<span class="pull-right">DESARROLLO</span></a></li>
                    <li><a href="#"><i class="fa fa-street-view margin-r-5"></i>Diego Jaimes<span class="pull-right">SOPORTE AL NEGOCIO</span></a></li>
                </ul>
            </div>
        </div><!-- /.widget-user -->
    </div><!-- /.col -->
    <div class="col-md-4">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-aqua-active">
                <a href="profile.html">
                    <div class="widget-user-image">
                        <img class="img-circle" src="~/Content/Estilos/dist/img/per4-128x128.png" alt="User Avatar">
                    </div><!-- /.widget-user-image -->
                </a>
                <h3 class="widget-user-username">Rafael Castillo</h3>
                <h5 class="widget-user-desc">Analista Funcional - DESARROLLO</h5>
            </div>
            <div class="box-footer no-padding">
                <ul class="nav nav-stacked">
                    <li><a href="profile.html"><i class="fa fa-comment margin-r-5"></i>Mensajes <span class="pull-right badge bg-blue">24</span></a></li>
                    <li><a href="#"><i class="fa fa-users margin-r-5"></i>Organizadores</a></li>
                    <li><a href="#"><i class="fa fa-street-view margin-r-5"></i>Elizabeth Estela<span class="pull-right">SOPORTE AL NEGOCIO</span></a></li>
                    <li><a href="#"><i class="fa fa-street-view margin-r-5"></i>Fredy Gonzales<span class="pull-right">DESARROLLO</span></a></li>
                </ul>
            </div>
        </div><!-- /.widget-user -->
    </div><!-- /.col -->
</div><!-- /.row -->