@model List<Web.UI.Models.CumpleaniosViewModels>
@{
    ViewBag.Title = "Birthday | Inicio";
}
<div class="row">
    @foreach (var item in Model)
    {
        @Html.Partial("_PartialCumple", item)
    }
</div>
